* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}
header {
    height: calc(20vh - 40px);
    background-color: blue;
}

.main_top {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-top: 10px;
    column-gap: 10px;
}

.top_left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;

}

.box {
    height: 30vh;
    background-color: aqua;
}

.top_right {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 10px;
}

.right_left {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    height: 30vh;
}

.box1 {
    background-color: black;

}
.box2 {
    background-color: red;

}

.right_right {
    height: 30vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
}

.main_centre {
    height: 10vh;
    background-color: purple;
    margin-top: 10px;
}

.main_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin-top: 10px;
}

footer {
    height: 10vh;
    background-color: purple;
    margin-top: 10px;
}